<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>



    <h1 mat-dialog-title>Add user</h1>
    <div mat-dialog-content>
        <div>
            <div class="profile-wrap">
                <div class="profileImage"><img *ngIf="dropFileService.imageChosen" [src]="dropFileService.imageSource"></div>
            </div>
            <div class="center">
                <ngx-file-drop [multiple]="true" dropZoneLabel="Drag and drop your profile" (onFileDrop)="dropFileService.dropped($event)">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <button mat-raised-button (click)="openFileSelector()">Choose or drag and drop your profile</button>
                    </ng-template>
                </ngx-file-drop>
            </div>
        </div>
        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [disabled]="loading" [(ngModel)]="user.lastName" matInput
                    placeholder="Last name">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="fill-width">
                <mat-label>E-Mail</mat-label>
                <input [disabled]="loading" [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="fill-width">
                <mat-label>Birthdate</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput placeholder="Birthdate"
                    [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="fill-width">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Street + House No.">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="mr-16">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Zip code">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="City">
            </mat-form-field>
        </div>
    </div>

    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="dialogRef.close()">Cancel</button>
        <button [disabled]="loading" (click)="saveUser()" mat-button cdkFocusInitial>Save</button>
    </div>

</div>