.user-detail-header{
    min-height: 250px;
    background-color: #ff5b27;
    color: white;
    display: flex;
    justify-content: flex-end;

    img{
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.img-user-details{
    display: flex;
    margin-bottom: 32px;
    margin-left: 16px;
}

.user-details{
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2{
        margin-bottom: 0;
    }
}

.pin-right-upper-corner{
    position: absolute;
    right: 0;
    top: 0;
}