/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mr-16{
    margin-right: 16px;
}

.mt-32{
    margin-top: 32px;
}

.fill-width{
    width: 100%;
}

.dialog-container{
    position: relative;

    // mat-progress-bar{
    //     position: absolute;
    //     left: -24px;
    //     right: -24px;
    //     top: -24px;
    //     width: calc(100% + 48px);
    // }
}

.ngx-file-drop__drop-zone{
    height: 50px !important;
    margin: auto;
    border: 1px solid #9E9E9E !important;
    border-radius: 5px;
}

.ngx-file-drop__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px !important;
}

.profile-wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.center{
    margin-bottom: 16px;
}

.profileImage {
    height: 100px;
    width: 100px;
   

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
    }

}